@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22.5px;
  color: #666768;
}
.bg-gradient {
  background: rgb(73, 35, 180);
  background: linear-gradient(
    90deg,
    rgba(73, 35, 180, 1) 0%,
    rgba(232, 120, 207, 1) 100%
  );
}
@layer utilities {
  .bg-gradient {
    background: linear-gradient(
      90deg,
      rgba(73, 35, 180, 1) 0%,
      rgba(232, 120, 207, 1) 100%
    );
  }
}
